# Prerequisites
*.d
.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cc_package_simplify/obj/Debug/cc_package_simplify.csprojAssemblyReference.cache
.vs/cc_package_simplify/v16/.suo
